body{
    background: #9fe8fa;
}
.grid-big{
    margin: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
}
.o-led{    
    background-color: aliceblue;
    height: 35rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px #fff4e0;

}

.o-led #user-a{
    display: none;
    position: absolute;
    height: 4rem;
    width: 6rem;
    background: #73d2f3;
    margin-left: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
    border: 2px solid black;
    font-size: 2rem;
}
.o-led #arrow-a{
    display: none;
    position: absolute;
    height: .5rem;
    width: 11rem;
    margin-left: 8rem;
    margin-top: 3.5rem;
    background-color: black;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;

}
.o-led #triangle-right {

    display: none;
    position: absolute;
	width: 0;
    height: 0;
    margin-left: 18rem;
    margin-top: 2.8rem;
	border-top: 15px solid transparent;
	border-left: 30px solid black;
	border-bottom: 15px solid transparent;
}
.o-led #user-b{
    display: none;
    position: absolute;
    height: 4rem;
    width: 6rem;
    background: #73d2f3;
    margin-left: 21rem;
    margin-top: 2rem;
    border-radius: .5rem;
    border: 2px solid black;
    font-size: 2rem;
}
.o-led #arrow-b{
    display: none;
    position: absolute;
    margin-top: 7rem;
    margin-left: 23.75rem;;
    height: 12rem;
    width: .5rem;
    background: black;
}
.o-led #triangle-down {
    display: none;
    position: absolute;
    margin-top: 18rem;
    margin-left: 23rem;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid black;
}
.o-led #user-c{
    display: none;
    position: absolute;
    height: 4rem;
    width: 6rem;
    background: #73d2f3;
    margin-left: 21rem;
    margin-top: 22rem;
    border-radius: .5rem;
    border: 2px solid black;
    font-size: 2rem;
}
.o-led #arrow-c{
    display: none;
    position: absolute;
    height: .5rem;
    width: 11rem;
    margin-left: 9rem;
    margin-top: 23.5rem;
    background-color: black;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.o-led #triangle-left{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 8rem;
    margin-top: 22.75rem;
	border-top: 15px solid transparent;
	border-right: 30px solid black;
	border-bottom: 15px solid transparent;

}
.o-led #user-d{
    display: none;
    position: absolute;
    height: 4rem;
    width: 6rem;
    background: #73d2f3;
    margin-left: 1rem;
    margin-top: 22rem;
    border-radius: .5rem;
    border: 2px solid black;
    font-size: 2rem;
}
.o-led #block-1{
    display: none;
    position: absolute;
    height: 2rem;
    width: 7rem;
    margin-top: 8rem;
    margin-left: 10rem;
    background: #73d2f3;
    border: 1px solid black;
}
.o-led #block-2{
    display: none;
    position: absolute;
    height: 2rem;
    width: 7rem;
    margin-top: 11rem;
    margin-left: 10rem;
    background: #73d2f3;
    border: 1px solid black;
}
.o-led #block-3{
    display: none;
    position: absolute;
    height: 2rem;
    width: 7rem;
    margin-top: 14rem;
    margin-left: 10rem;
    background: #73d2f3;
    border: 1px solid black;
}
.o-led #block-4{
    display: none;
    position: absolute;
    height: 2rem;
    width: 7rem;
    margin-top: 17rem;
    margin-left: 10rem;
    background: #73d2f3;
    border: 1px solid black;
}
.o-led #a-fas{
    /* font-size: 1.5rem; */
    display: none;
    position: absolute;
    margin-top: 10rem;
    margin-left: 12.5rem;
    transform: rotate(138deg);
}
.o-led #b-fas{
    /* font-size: 1.5rem; */
    display: none;
    position: absolute;
    margin-top: 13rem;
    margin-left: 12.5rem;
    transform: rotate(138deg);
}
.o-led #c-fas{
    /* font-size: 1.5rem; */
    display: none;
    position: absolute;
    margin-top: 16rem;
    margin-left: 12.5rem;
    transform: rotate(138deg);
}
.showcase{
    background-color: aliceblue;
    height: 35rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.726);
}
.o-led .o-btn{
    display: block;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}