body{
    background: #9fe8fa;
}
.grid-big{
    margin: 3rem
}
.sidebar{    
    background-color: aliceblue;
    height: 35rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.726);

}
.showcase{
    background-color: aliceblue;
    height: 35rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.726);

}